nav {
  height: 80px;
  background-color: var(--color-1);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.links-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 200;
  font-size: 22px;
}

nav a,
nav p {
  height: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
}

nav p {
  margin-left: auto;
  margin-right: auto;
}
p.help{
  margin: 0;

}
p.help:hover{
  background-color: var(--accent-color);
}
p.home-link{
  margin:0;
}

nav a:hover {
  background-color: var(--accent-color);
}

nav .home-link {
  margin-right: auto;
}

nav svg {
  fill: var(--text-color)
}

#sidebar-active {
  display: none;
}

.open-sidebar-button,
.close-sidebar-button {

  display: none;
}

.addr-small{
  display: none;
}

@media (max-width : 1124px) {
  .addr-small{
    display: flex;
  }
  .links-container {
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    right: -100%;
    width: 300px;
    background-color: var(--color-1);
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
    transition: 0.75s ease-out;
  }
  .addr{
    display: none;
  }
/*   nav p {
    display: none;
  } */

  nav a {
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }

  .open-sidebar-button,
  .close-sidebar-button {
    padding: 20px 20px;
    display: block;
  }

  #sidebar-active:checked~.links-container {
    right: 0;
  }

  #sidebar-active:checked~#overlay {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
  }
  p.help{
    box-sizing: border-box;
    height: auto;
    width: 100%;
    padding: 20px 30px;
    justify-content: flex-start;
  }

}

.popup-background{
  position: fixed;
  top : 0px;
  left : 0px;
  right : 0px;
  bottom : 0px;
  background-color: rgb(0, 0, 0 , 0.7);
  width: 100%;
  height: 100%;
}

.floating-action-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px; 
  background-color: var(--color-1);
  color: var(--text-color); 
  border-radius: 50%;
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  transition: background-color 0.3s;
}


.floating-action-button:hover {
  background-color: var(--accent-color); 
}

.floating-action-button .icon {
  font-size: 24px;
}

.logo{
  width: 50px;
}
.connect-btn{
  padding: 10px 25px;
  border:none;
  background-color: rgb(52, 51, 51);
  color: white;
  font-size: 22px;
  border-radius: 10px;
}
.share-btn
{
  text-align: center;
  margin-top: 10px;
}
.pop-btn
{
  padding: 10px 25px;
  border:none;
  background-color: black;
  color: white;
  border-radius: 10px;
}
/* 

.bigImage{
  width: 70%;
} */

div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-height: 500px;
  max-width: 700px;
}
