
.choose{
    display: block;
}

.image-input {
    margin: auto;
    border: 1px solid black;
    padding: 50px 50px;
    border-width: 1px;
    border-radius: 6px;
}

.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
}

.upload{
    background: var(--color-1);
    color: var(--text-color);
    padding: 12px;
    border-radius: 0.5rem;
    margin-left: auto;
    font-family: inherit;
    border: none;
}

.upload:hover{
    background: var(--accent-color);
}
input[type="file"]
{
    display:none;
}
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
p.file-name{
    font-weight: 200;
    font-size: 30px;
}
