.choose{
    display: block;
}

.image-input {
    border-width: 1px;
    border-radius: 6px;
}

.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
}

.upload{
    background: var(--color-1);
    color: var(--text-color);
    padding: 12px;
    border-radius: 0.5rem;
    margin-left: auto;
    font-family: inherit;
    border: none;
}

.upload:hover{
    background: var(--accent-color);
}